<script type="text/ng-template" id="photo-template.html">
    <div class="thumbnail span4">
        <img ng-src="{{ model.path }}" alt="{{ model.title }}" />
        <div class="caption">
            <a href="#/pic/{{ model._id }}"><h3>{{ model.title }}</h3></a>
        </div>
    </div>
</script>

<div class="thumbnails">
    <photo ng-repeat="photo in photos" model="photo"/>
</div>

<photo-detail ng-show="selectedPhoto" class="modal" style="width: 500px; heigh: 300px;" selected-photo="selectedPhoto">
    {{ selectedPhoto.title }}
    <ul class="comments">
        <li ng-repeat="comment in selectedPhoto.comments">
            {{ comment.body }}
        </li>
    </ul>
    <form ng-submit="addComment()">
        <input ng-model="comment.body" type="text" />
        <input type="submit" >Submit</input>
    </form>
</photo-detail>
